server:
  servlet:
    context-path: /seckill
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456 #qwer1234QWER!@#$
    url: jdbc:mysql://localhost:3306/seckill?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT&allowPublicKeyRetrieval=true
  redis:
    host: 192.168.14.66
    port: 6378
    database: 0
    timeout: 6000
mybatis:
  type-aliases-package: com.example.seckill.domain.model
  mapper-locations: classpath:mapping/*.xml
application:
  rabbitMQ: http://localhost:8081/producer/order/send
